attrs==19.3.0
certifi==2020.6.20
chardet==3.0.4
ddt==1.4.1
dubboz==0.10
filez==0.11
htmlrunner==0.13
idna==2.10
importlib-metadata==1.7.0
Jinja2==2.11.2
jsonpath==0.82
jsonschema==3.2.0
logz==0.13
lxml==4.6.3
MarkupSafe==1.1.1
more-itertools==8.4.0
packaging==20.4
parserz==0.14
pluggy==0.13.1
py==1.9.0
pycurl==7.43.0.5
pyparsing==2.4.7
pyrsistent==0.16.0
pytest==5.4.3
PyYAML==5.3.1
requests==2.24.0
requestz==0.12
six==1.15.0
urllib3==1.25.9
wcwidth==0.2.5
zipp==3.1.0
